Concurrency/.vs/
Concurrency/Concurrency/obj/
Concurrency/Concurrency2/bin/
Concurrency/Concurrency2/obj/
Concurrency/Concurrency3/obj/
Concurrency/Concurrency3/bin/
Concurrency/Concurrency/bin/
CapturedVariables/.vs/
CapturedVariables/CapturedVariables/bin/
CapturedVariables/CapturedVariables/obj/
CapturedVariables/CapturedVariables2/obj/
CapturedVariables/CapturedVariables3/bin/Debug/netcoreapp3.1/CapturedVariables3.exe
CapturedVariables/CapturedVariables3/bin/
CapturedVariables/CapturedVariables3/obj/
ReferencesTypes/ReferencesTypes/obj/
ReferencesTypes/ReferencesTypes/bin/
ValuesTypes/ValuesTypes/obj/
ValuesTypes/ValuesTypes2/bin/
ValuesTypes/ValuesTypes2/obj/
ValuesTypes/ValuesTypes/bin/
ValuesTypes/.vs/
ReferencesTypes/ReferencesTypes2/obj/
CapturedVariables/CapturedVariables2/bin/
ReferencesTypes/.vs/
